.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lora", serif;
    color: rgb(0, 0, 0);
    background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://images.pexels.com/photos/2881370/pexels-photo-2881370.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  }
  
  .loginFormDiv {
    border-color: solid black;
    border-width: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    width: 275px;
    height: 350px;
    -webkit-box-shadow: 2px 2px 6px 2px #5e5353; 
    box-shadow: 2px 2px 6px 2px #686161;
  }

  .loginTitle {
    display: block;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 35px;
    border-bottom: solid rgb(72, 179, 155) 1px;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
  }
  
  .loginForm > label {
    margin: 10px 0;
  }
  
  .loginInput {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    width: 200px;
    align-self: center;
  }
  
  .loginInput:focus {
    outline: none;
  }
  
  .loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(72, 179, 155);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    align-self: center;
  }
  
