.uniPage {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lora", serif;
    color: #444;
    background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("https://images.pexels.com/photos/159490/yale-university-landscape-universities-schools-159490.jpeg?cs=srgb&dl=pexels-pixabay-159490.jpg&fm=jpg");
  background-size: cover;
  }

  .uniPageWrapper {
    background-color: white;
    display: inline-block;
    padding: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 6px 2px #5e5353; 
    box-shadow: 2px 2px 6px 2px #686161;
    max-height: 80vh;
    overflow: scroll;
    overflow-x: auto;
    overflow-y: auto;
  }

  .uniNameTitle {
    text-decoration: underline;
    text-decoration-color: coral;
  }

  .commentsListDiv {
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    font-family: "Lora", serif;
    color: #444;
  }

  .commentDiv {
    border: #444;
    border: solid;
    border-radius: 3px;
    margin-top: 3px;
  }

  .dateDiv {
    border-bottom: #444;
    border-bottom: solid;
  }

  .commentForm {
    margin: 5px;
  }

  .commentInput {
    height: 50px;
    width: 100%;
    word-wrap: break-word;
  }

  .saveIcon {
    font-size: 40px;
    color:#444;
    cursor: pointer;
  }

  .buttonDiv {
    text-align: right;
  }

  .alreadySavedIcon {
    font-size: 40px;
    color:rgb(33, 153, 49);
    cursor: pointer;
  }

  .deleteIcon {
    font-size: 40px;
    color:rgb(243, 9, 9);
    cursor: pointer;
  }

  .UpdateTime {
    color: #444;
  }

  .saveChangesIcon {
    font-size: 40px;
    color:rgb(9, 208, 243);
    cursor: pointer;
  }

  .updateIcon {
    font-size: 40px;
    color:rgb(83, 243, 9);
    cursor: pointer;
  }

  .updateDiv {
    position:absolute;
    right: 54px;
    bottom: 8px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }

  .deleteDiv {
    position:absolute;
    right: 8px;
    bottom: 8px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }

