.uniPage {
    height: calc(60vh - 50px);
    margin-top: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Lora", serif;
    color: #444;
  }

  .commentsListDiv {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    font-family: "Lora", serif;
    color: #444;
  }

  .commentDiv {
    border: #444;
    border: solid;
    margin-top: 10px;
  }

  .commentAuthor {
    border-bottom: #444;
    border-bottom: solid;
  }

  .commentForm {
    margin: 5px;
  }

  .commentInput {
    height: 50px;
    width: 100%;
    word-wrap: break-word;
  }

  .saveIcon {
    font-size: 40px;
    color:#444;
    cursor: pointer;
  }

  .saveDiv {
    position: absolute;
    left: 70vw;
  }

  .alreadySavedIcon {
    font-size: 40px;
    color:rgb(21, 197, 109);
    cursor: pointer;
  }